{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules":false,
        "targets": {
          "browsers":["ie >= 7"]
        },
        "debug":false,
        "loose":true
      }
    ]
  ],
  "plugins":[
    "@babel/plugin-transform-runtime",
  ]
}
